{% extends "home/base.html" %}

{% block content %}


<div class="container">
  <div class="row">
      <!-- BOOK DETAILS -->
      <article class="article-title ">
      </article>
      {% for book in books %}
        <title> Book Recommendation - {{ book.title }} </title>
        <article class="media content-section">
          <div class="article-metadata">
          <h2> {{book.title}} </h2>
          <p class="article-content"> <a class="w3-button w3-light-grey" href="../../book/{{ book.id }}"><i class="w3-margin-left fafa-arrow-right"> Click here for Book Details Page</i></a></p> 
          <p class="article-content"><img src="{{ book.image }}" style="width:30%"></p>
          <p class="article-content"> <strong>Author(s):</strong> <a class="w3-button w3-light-grey" href="../../search/?results={{ book.authors }}"><i class="w3-margin-left fa fa-arrow-right">{{ book.authors }}</i></a></p>
          <p class="article-content"> <strong>Genre(s):</strong> {{ book.genres }}</p>  
          <p class="article-content"> <strong>Description:</strong> {{ book.desc}}</p>    
        </article>
        </div>

        <article class="article-title">
        <article class="article-metadata">
        <h2> NLP Recommended Books: </h2>
        <p class="article-content"> based on descriptions... </p>
        </article>
        </article>

      {% endfor %}

      <!-- BOOK AUTHOR RECOMMENDATIONS -->
      {% for book in recommendations %}
        <article class="media content-section">
          <div class="account-img">
            {% if '.' in book.image %}
            <img src="{{ book.image }}" width="105" height="150">
            {% else %}
            No Cover Image Found
            {% endif %}
          </div>
          <div class="article-metadata">
              <h3><a class="article-title" href="../../nlpbook/{{ book.id }}">{{ book.title }}</a></h3>
              <a class ="font-weight-bold"> Author(s): </a>
              <a class="mr-2" href="../../search/?results={{ book.authors }}"> {{ book.authors }}</a>
              <p class="article-content"><a class ="font-weight-bold"> Description: </a>{{ book.desc|truncatechars:200 }}</p>   
              <p class="article-content"><a class ="font-weight-bold"> Cosine Similarity: </a>{{ book.cos_score }}</p>   
          </div>
        </article>
      {% empty %}
            <div class="ui segment">No results...</div>
      {% endfor %}

    </div>  
  </div>     

    

{% endblock content %}